<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>837882301627-tuv1l9qdmhuurgpvsb0kjt9ma5qd6un7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837882301627-tuv1l9qdmhuurgpvsb0kjt9ma5qd6un7</string>
	<key>API_KEY</key>
	<string>AIzaSyD3aC-Iga6eFvXe0qhmACw8J3-6dH9iuvo</string>
	<key>GCM_SENDER_ID</key>
	<string>837882301627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maulanayusupp.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a93d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a93d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837882301627:ios:60d552b0e8eec407</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a93d8.firebaseio.com</string>
</dict>
</plist>